  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins&family=Sacramento&display=swap');


  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Catamaran", sans-serif;
  }

  /*------------ Univesal CSS start --------------*/

  .text-orange {
    color: #ea512e
  }

  .text-dark-blue {
    color: #1B0238;
  }

  .text-silver {
    color: #6b6b84
  }

  .bg-orange {
    background: #ea512e
  }

  .bg-yellow {
    background: #f5890d !important;
  }

  .btn {
    color: #fff;
    display: inline-block;
    padding: 12px 35px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    background: #ea512e;
    position: relative;
    transition: 0.5s ease;
  }

  .btn:hover {
    color: #FFF;
    background-color: #f5890d;

  }

  .mt-6 {
    margin-top: 60px;
  }

  .mt-7 {
    margin-top: 70px;
  }

  .mt-8 {
    margin-top: 80px;
  }

  .mt-9 {
    margin-top: 90px;
  }

  .mt-10 {
    margin-top: 100px;
  }

  .mt-15 {
    margin-top: 150px;
  }

  .mt-20 {
    margin-top: 200px;
  }

  .ms-15 {
    margin-left: 100px;
  }

  .pt-100 {
    padding-top: 100px;
  }

  .pb-100 {
    padding-bottom: 100px;
  }

  .pb-70 {
    padding-bottom: 70px;
  }

  .w-18 {
    width: 180px !important;
  }

  p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
  }

  /*----------- Univesal CSS end------------*/

  /*---------------- header section start -----------------*/

  .navbar {
    position: fixed;
    top: 0;
    z-index: 99;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 6px 0.5px rgb(180, 178, 178);
  }

  .navbar .navbar-nav .nav-item a {
    position: relative;
    padding: 8px 15px;
    display: block;
    color: #1b0238;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  }

  .nav-item a:hover {
    color: #ea512e !important;
  }

  .nav-item {
    transition: color .15s ease-in-out;
  }

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 5px 12px 0px rgb(184, 181, 181);
    line-height: 30px;
    width: 200px;
    transition: all 0.5 ease;
    animation: up linear 0.3s;
  }

  .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    background: #fff;
    padding: 20px;
  }

  .submenu:hover .dropdown-submenu {
    display: block;
  }

  .flip {
    animation: flip 1.5s ease;
  }

  /* header section end */

  /* banner section start */

  .banner {
    background: url(../img/main-banner-bg.jpg);
    height: auto;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 80px;
  }

  .banner .cloud {
    display: block;
    width: 100%;
    height: auto;
  }

  .banner h1 {
    font-weight: 600;
    font-size: 60px;
  }

  .btn1:hover {
    background: #ea512e !important;
  }



  .shape1 {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 100px;
    animation: move 2s linear alternate infinite;
  }

  .shape2 {
    display: block;
    position: absolute;
    top: 30px;
    left: 50% !important;
    max-width: 100px;
    animation: move 2s linear alternate infinite;
  }

  .shape3 {
    width: 100px;
    position: absolute;
    bottom: 250px;
    left: 30px;
    transform: translateX(-50%);
    animation: move 2s linear alternate infinite;
    z-index: 1;
  }

  .shape4 {
    width: 100px;
    position: absolute;
    bottom: 100px !important;
    left: 45%;
    transform: translateY(-50%);
    animation: move2 2s linear alternate infinite;
    z-index: 1;
  }

  /* banner section end */


  /* who we are section start */
  .who-image {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .who-image img {
    padding: 20px;
  }

  .who .who-image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
    ;
  }

  .who .who-image::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f5890d;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 30s linear infinite alternate forwards;
  }

  .who .content h3,
  .classes h3,
  .value h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    color: #1B0238;
  }

  .who ul li {
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
  }

  .who .who-list li span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ea512e;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 6px;
    font-family: "Catamaran", sans-serif;
    transition: all 0.5s;
  }


  .who .who-list li:hover span {
    background: #f5890d;
    transition: all 1s ease-in;
  }

  .who-shape {
    position: absolute;
    top: 20px;
    right: 5% !important;
    max-width: 120px;
    animation: move 2s linear infinite;
  }

  .who-shape img {
    height: auto;
    display: inline-block;
  }

  /* who we are section end */

  /* classes section start */
  .classes {
    background: #fdf6ed;
    position: relative;
    z-index: 1;
  }

  .classes .card {
    width: 350px;
  }

  .card .card-img {
    background: #fff;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 28px 0 rgb(0, 0, 9%);
  }

  .card .card-body h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .card .card-body p {
    font-size: 15px;
    line-height: 1.8;
  }

  .card .card-body .line {
    border-bottom: 2px dashed #ea512e;
  }

  .card .card-body ul li {
    padding-right: 15px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  }

  .card .card-body span {
    color: #f5890d;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  }


  .card .card-img img {
    transition: all 0.5s ease;
  }

  .classes .card:hover img {
    transform: scale(1.2)rotate(3deg);
  }

  .classes .card:hover .price {
    background: #f5890d;
    transition: all 0.3s ease;
  }

  .classes .card:hover h3 a {
    color: #f5890d !important;
    transition: all 0.3s ease;
  }

  /* classes section end */


  /* value section start */
  .value .number {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1%;
    margin-right: 20px;
    color: #1b0238;
    border: 3px solid #fff;
    outline: 1px solid #e5e4e4;
    outline-offset: 2px;
    transition: 0.5s;
    cursor: pointer;
    font-family: "Catamaran", sans-serif;
  }

  .value .number:hover {
    background: #f5890d !important;
    outline-color: #f5890d;
    color: #fff;
    transition: 0.5s;
    z-index: 1;
  }

  .value .value-content h4 {
    color: #1B0238;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Catamaran", sans-serif;
  }

  /* value section end */
  /* Teacher section start */
  .teacher {
    background: url(../img/teacher-bg.jpg);
    background-size: 100% 100%;
    z-index: -9 !important;
  }

  .teacher h2,
  .event h2 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
  }

  .teacher .teacher-img {
    z-index: 9 !important;
  }

  .teacher .social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    transition: all 0.5s ease-in;
  }

  .teacher .teacher-img:hover .social-media {
    margin-bottom: 15px;
    transition: all 0.5s ease-out;
  }

  .teacher .social-media ul li {
    background: #ea512e;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    line-height: 33px;
  }

  .teacher .teacher-img::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 20s linear infinite alternate forwards;
  }

  /* Teacher section end */
  /* Testimonial section start */
  .testimonial {
    width: 100%;
    height: 800px;
    position: relative;
  }

  .testimonial .slider-wrap .slider-main {
    overflow-x: hidden;
    height: 500px;
  }

  .testimonial .slider-wrap .slider-main .card {
    padding: 30px;
    background: #fee9ca;
    border: none;
  }

  .testimonial .slider-wrap .nav-button {
    display: flex;
    position: absolute;
    left: -30px;
    right: -40px;
    top: 150px;
    justify-content: space-between;
  }

  .testimonial .slider-main .card .qoute {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ea512e;
    background: #fff;
    text-align: center;
    line-height: 65px;
    font-weight: bold;
    transition: all 0.5s;
  }

  .testimonial .slider-main .card p {
    font-size: 15px;
    font-style: italic;
  }

  .testimonial .slider-wrap .nav-button button {
    width: 50px;
    height: 50px;
    background: #ea512e;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-in;
    visibility: hidden;
  }

  .testimonial .slider-wrap:hover button {
    visibility: visible;
    transition: all 0.5s ease-out;
  }

  .testimonial .card:hover .qoute {
    color: #fff !important;
    background: #ea512e !important;
  }

  .testimonial .slider-wrap {}

  /* Testimonial section end */
  /* event section start */

  .event {
    background: url(../img/event-bg.jpg);
    min-height: 800px;
    max-height: auto;
    width: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
  }

  .event .event-box {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #fff;
  }

  .event .event-list {
    margin-top: 50px;
  }

  .event .event-list time,
  address {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    display: block;
    margin-bottom: 10px;
  }

  /* event section end */


  /* news section start */

  .news .card {
    
  }

  .card .card-img img {
    border-radius: 10px 10px 0px 0px;
    transition: all 0.5s;
  }

  .news .card .card-content {
    background: #fdeee9;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }

  .news .card-content ul li a {
    font-size: 16px;
    color: #283d5e;
    font-weight: 500;
    margin-right: 15px;
  }

  .news .card-content h3 a{
    font-size: 22px;
  }

  /* news section end */

  /* footer section start */
  .footer-area {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/footer-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    z-index: 1;
  }

  .footer-area .social li a {
    display: block;
    background: #ea512e;
    width: 35px;
    height: 35px;
    line-height: 25px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: all 0.5s ease-in;
  }

  .footer-area .social li a:hover {
    transform: translateY(-6px);
  }

  .footer-area .contact li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  .activity li a:hover,
  .contact li a:hover {
    color: #ea512e !important;
  }

  .activity li a:hover::before,
  .contact li a:hover::before {
    width: 100%;
  }

  .activity li a::before,
  .contact li a::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 2px;
    transition: all 0.5s;
    background: #ea512e;
    color: #ea512e;
  }

  .gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4px;
  }

  .gallery img {
    transition: all 0.5s ease;
  }

  .photo:hover img {
    transform: scale(1.2);
  }

  .effect {
    position: absolute;
    background: #ea512e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10% 30%;
    transition: all 0.5s ease;
    opacity: 0;
  }

  .effect:hover {
    opacity: 0.5;
  }


  /* bottom footer section start */
  .bottom-footer {
    width: 100%;
    height: 70px;
    background: #091629;
  }

  /* bottom footer section end */
  /* buynow button section start */
  .buy-btn img {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 20px;
    width: 15px;
    transform: translateY(-50%);
  }

  .buy-btn {
    background: #82b440;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    padding: 10px 20px 10px 42px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 99;
    transition: all 0.4s ease-in;
    transform: translateY(-50%);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: btn-animation 5s infinite both;
  }

  .buy-btn:hover {
    background: #ea512e;
    transition: 0.4s ease-out;
  }

  /* buynow button section end */

  /* footer section end */

  .card:hover .card-img img {
    transform: scale(1.2)rotate(3deg);
  }

  .card:hover .card-content h3 a {
    transition: 0.5s ease-in-out;
    color: #ea512e;
  }



  @keyframes up {
    0% {
      translate: 0px 15px;
      opacity: 30%;
    }

    100% {
      translate: 0px 0px;
    }
  }


  @keyframes flip {
    from {
      transform: rotateY(90deg);
    }

    to {
      transform: rotateY(0deg);
    }
  }


  @keyframes move {
    0% {
      transform: translateX(0px);
    }

    50% {
      transform: translateX(20px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  @keyframes move2 {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes border-transform-default {

    0%,
    100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }

    14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
  }

  @keyframes btn-animation {
    0% {
      transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9)rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1)rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1)rotate3d(0, 0, 1, -3deg);
    }

    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @media screen and (max-width:991px) {
    .banner-shape {
      display: none;
    }
  }

  /* ============================about page CSS start============================ */


        /* about banner section start */
  
        .about-banner{
          background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/about-img/page-banner-1.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 200px;
          padding-bottom: 200px;
          background-attachment: fixed;
        }

        /* about banner section end */
        /* learn section start */
        /* learn section end */

        .learn ul li {
          line-height: 40px;
          font-size: 16px;
          font-weight: bold;
        }
      
        .learn .learn-list li span {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #ea512e;
          display: inline-block;
          font-size: 14px;
          color: #fff;
          text-align: center;
          line-height: 30px;
          margin-right: 6px;
          font-family: "Catamaran", sans-serif;
          transition: all 0.5s;
        }
      
      
        .learn .learn-list li:hover span {
          background: #f5890d;
          transition: all 1s ease-in;
        }

       /* learn section end */

       /* teacher section start */
        .image img{
          border-radius: 15px !important;
        }

        .teacher-item .image .content{
          position: absolute;
          top: 60%;
          left: 0px;
          right: 0px;
          opacity: 0;
          margin-top: 10px;
          transform: translateY(-50%);
          transition: all 0.5s ease;
          border-radius: 15px !important;
          z-index: 1;
        }

        .teacher-item .image .content ul li a{
          display: block;
          background: #fff;
          width: 40px;
          height: 40px;
          line-height: 30px;
          border-radius: 50%;
          padding: 8px;
          margin-right: 15px;
          font-size: 22px;
          text-align: center;
          transition: all 0.5s ease-in;
        }

        .image:hover .content{
            position: absolute;
            top: 50%;
            opacity: 1;
        }

        .image:hover::after .content{
          opacity: .70; 
         }

        .image:hover::after{
          opacity: .70;
          visibility: visible;
        }

        .image:hover::after{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          background-color: #000;
          transition: .5s ease-in-out;
          border-radius: 15px !important;
        }
        
     /* teacher section end */

     /* qoute section start */
        .quote{
          background: url(../img/about-img/quote-bg.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
     /* qoute section end */
     /* courses section start */
        .courses .shapes .s-3{
          bottom: 10%;
          left: 10%;
        }

        .courses .shapes img{
          animation: move 3s linear  infinite;
        }


     /* courses section end */
     /*feedback section start */
     
     .feedback{
      background: #fef3e6;
    }

    .feedback .slider{
      position: relative;
      width: 100%;
      height: auto;
      margin: auto;
    }


    .feedback .slider .slide{
      display: none;
      width: 100%;
      height: auto;
    }


     /* feedback section end */

       


  /* ============================about page CSS end============================ */
  
   /* preloader section start */
   #preloader{
    background: #000000fb url(../img/loader2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  /* preloader section end */