  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins&family=Sacramento&display=swap');


  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family:"Catamaran" ,sans-serif ;
}

/*------------ Univesal CSS start --------------*/

  .text-orange{color:#ea512e}
  .text-dark-blue{color: #1B0238;}
  .text-silver{color:#6b6b84}
  .bg-orange{background: #ea512e}
  .bg-yellow{background:#f5890d !important; }
  .btn{
    color: #fff;
    display: inline-block;
    padding: 12px 35px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    background:#ea512e;
    position: relative;
    transition: 0.5s ease;
  }

  .btn:hover{
    color: #FFF;
    background-color: #f5890d;
    
  }

  .mt-6{margin-top: 60px;}
  .mt-7{margin-top: 70px;}
  .mt-8{margin-top: 80px;}
  .mt-9{margin-top: 90px;}
  .mt-10{margin-top: 100px;}
  .mt-15{margin-top: 150px;}
  .mt-20{margin-top: 200px;}
  .ms-15{margin-left: 100px;}

   .w-18{width: 180px !important;}

  p {
      margin-bottom: 15px;
      line-height: 1.8;
      color: #6b6b84;
      font-weight: 400;
      font-family: "Roboto",sans-serif;
      font-size: 16px;
  }
/*----------- Univesal CSS end------------*/

  /*---------------- header section start -----------------*/

  .navbar {
    position: fixed;
    top: 0;
    z-index: 99;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 6px 0.5px rgb(180, 178, 178);
  }

  .navbar .navbar-nav .nav-item a{
            color:#1b0238;
            font-size: 16px;
            font-weight: 600;
            font-family:"Roboto" ,sans-serif ;
  }

  .nav-item a:hover{
    color: #ea512e !important;
  }
  
  .nav-item{
    transition: color .15s ease-in-out;    
  }
  .navbar .dropdown:hover .dropdown-menu{
    display: block;
  }

  .dropdown-menu{
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 5px 12px 0px rgb(184, 181, 181);
    line-height: 39px;
    width: 280px;
    animation: up linear 0.3s;
  }

  .flip{
    animation:flip 1.5s ease;
  }
  
  /* header section end */

  /* banner section start */

  .banner{
    background: url(../img/main-banner-bg.jpg);
    height: auto;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 80px;
  }

  .banner .cloud{
    display: block;
    width: 100%;
    height: auto;
  }
  .banner h1{
     font-weight: 600;
     font-size: 60px;
  }
  
.btn1:hover{
  background: #ea512e !important;
}

  .banner-shape{
    display: flex;
    justify-content: space-between;
  }

  
  .banner-shape2{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
  }

  .banner-shape img{
    width: 100px;
    position: relative;
    animation: move 2s linear alternate infinite;
  }

  .shape-3 {
    width: 100px;
    position: relative;
    top: -30px;
    animation: move 2s linear alternate infinite;
  }

  .shape-4{
    width: 100px;
    position: relative;
    bottom: -50px;
    animation: move2 2s linear alternate infinite;
  }

  /* banner section end */


  /* who we are section start */
     .who-image{
      text-align: center;
      position: relative;
      z-index: 1;
     }

     .who-image img{
      padding: 20px;
     }

     .who .who-image::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #ea512e;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      border-radius: 50%;
      transition: 0.5s;
      animation: border-transform-default 10s linear infinite alternate forwards;;
     }

     .who .who-image::after{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #f5890d;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      border-radius: 50%;
      transition: 0.5s;
      animation: border-transform-default 30s linear infinite alternate forwards;;
     }

     .who .content span, .classes span{
      font-size: 20px;
      color: #ea512e;
      font-weight: 600;
      font-family: "Sacramento", cursive;
     }

     .who .content h3, .classes h3{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 45px;
      font-weight: bold;
      color: #1B0238;
     }

     .who  ul li{
      line-height: 40px;
      font-size: 16px;
      font-weight: bold;
     }

     .who .who-list li span{
       width: 30px;
       height: 30px;
       border-radius: 50%;
       background: #ea512e;
       display: inline-block;
       font-size: 14px;
       color: #fff;
       text-align: center;
       line-height: 30px;
       margin-right: 6px;
       font-family:"Catamaran" ,sans-serif;
       transition: all 0.5s;
     }


     .who .who-list li:hover span{
      background: #f5890d;
      transition: all 1s ease-in;
     }

     .who-shape{
      position: absolute;
      top: 20px;
      right:5% !important;
      max-width: 120px;
      animation: move3 2s linear  infinite;
     }

     .who-shape img{
        height: auto;
        display: inline-block;
     }
  /* who we are section end */
     
  /* classes section start */
     .classes{
      background: #fdf6ed;
      padding-top: 100px;
      padding-bottom: 70px;
      position: relative;
      z-index: 1;
     }

     .card .card-img{
      background: #fff;
      position: relative;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 2px 28px 0 rgb(0, 0, 9%);
     }
     
     .card .card-body h3{
      font-size: 25px;
      margin-bottom: 15px;
     }

     .card .card-body p{
      font-size: 15px;
      line-height: 1.8;
     }

     .card .card-body .line{
      border-bottom: 2px dashed #ea512e;
     }
      
     .card .card-body ul li{
      padding-right: 15px;
      font-size: 12px;
      font-weight: 600;
      font-family: "Roboto",sans-serif;
     }

     .card .card-body span{
      color: #f5890d;
      font-size: 12px;
      font-weight: 600;
      font-family: "Roboto",sans-serif;
     }
  
     
     .card .card-img img{
      transition: all 0.5s ease;
     }
     
     .classes .card:hover img{
      transform: scale(1.2)rotate(3deg);
     }

     .classes .card:hover .price{
      background: #f5890d;
      transition: all 0.3s ease;
     }

     .classes .card:hover h3 a{
      color: #f5890d !important;
      transition: all 0.3s ease;
     }

  /* classes section end */


  /* value section start */

  
  /* value section end */

  @keyframes up {
      0%{
        translate: 0px 10px;
        opacity: 30%;
      }
      100%{
        translate:  0px 0px;
      }
    }


  @keyframes flip {
      from{
        transform: rotateY(90deg);
      }to{
        transform: rotateY(0deg);
      } 
    }


  @keyframes move {
      0%{ left: 0px;}
      100%{left: 50px ;}
    }

  @keyframes move3 {
      0%{ transform: translateX(0px);}
      50%{transform: translateX(20px);}
      100%{transform: translateX(0px);}
   }

  @keyframes move2{
      0%{ bottom: -80px;}
      100%{bottom: -100px ;}
    }

  @keyframes border-transform-default {
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}